body{
    background-color: blueviolet;
}

#table_div{
    width:60%;
    margin:5px;
    margin-right: 0px;
    float:left;
    position:absolute;
}

.table td{
    vertical-align: center;
}

#new_name_input{
    margin:5px;
    float:left;
}

#col_name{
    width:30%;
}

#col_amount{
    width:20%;
}

#col_net{
    width:10%;
}

#col_choice{
    width:10%;
}

#roulette_div{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    float:right;
    width:37%;
    margin-top:6%;
}

#inner_padding{
    padding:10px;
}

#label_result_input{
    margin:4px;

}

.table{
    background-color: white;
}

#submitRouletteResult{
    margin:2px;
}

@media (min-width: 740px) {
    #roulette_div{
        margin-top:4%;
    }
}

@media (max-width: 740px) {
    #roulette_div{
        margin-top:6%;
    }
}

.amount_input{
    width:100%;
}

#routlette_div{
	position: absolute;
	margin:50px;
	right:0px;
	top:10px;
	height: 150px;
	width: 500px;
}

.numBetInput{
	padding-left: 10px;
}

#winner_div{
    display: none;
    z-index: 1;
    background-color: transparent;
}

.modal-content{
    left:25%;
    width:50%;
    top:10%;
}

#podiumDiv{
    position: absolute;
    margin:0px;
    right:0px;
    top:150px;
    height: 150px;
    width: 500px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    float:right;
    width:30%;
    margin-top:6%;
}