body{
    background-color: blueviolet;
}

#table_div{
    width:60%;
    margin:5px;
    background-color: white;
}

.table td{
    vertical-align: center;
}

#new_name_input{
    margin:5px;
}

#col_name{
    width:30%;
}

#col_amount{
    width:20%;
}

#routlette_div{
	position: absolute;
	margin:50px;
	right:0px;
	top:10px;
	height: 150px;
	width: 500px;
}